.box-width {
    /* 頁面大小 */
    width: 508px;
}

a,
a:hover {
    color: black;
}
h1{
    font-size: 18px;
}

.account-title,
.account-body {
    display: flex;
    justify-content: center;
    
    padding: 0 20px;
}
/* 標題欄 */
.account-title{
    margin-top: 30px;
}
/* 麵包削 */
nav{
    margin-bottom: 20px;
}
.breadcrumb {
    font-size: 16px;
    margin: 0;
}
.breadcrumb-item>a:hover {
    color: crimson;
}

/*設定選單*/
.nav-tabs{
    border-bottom: none;
    flex-wrap: nowrap;
}
.nav-tabs .nav-link{
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.18);
    border: 1px solid #999;
    border-bottom: 0;
    margin-right: 5px;
}
.nav-tabs .nav-link:hover{
    border: 1px solid #999;
    border-bottom: 0;
    background-color:rgb(225, 225, 225) ;
    isolation:unset;
}
.nav-tabs .nav-link.active{
    border: 1px solid #999;
    background-color:rgb(245, 245, 245) ;
    border-bottom: rgb(245, 245, 245);
    color: crimson;
    font-weight: 700;
    position: relative;
    isolation:unset;
}
.nav-tabs .nav-link.active::after{
    content: "";
    display: block;
    background-color: rgb(245, 245, 245);
    position: absolute;
    width: 100%;
    height: 1em;
    left: 0;
    z-index: 1;
}
.tab-content{
    border: 1px solid #999;
    border-radius: 4px;
    border-top-left-radius:0 ;
    border-top: 1px solid #999;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.18);
    background-color:rgb(245, 245, 245) ;
    padding: 15px;
}
/*內容*/
#nav-setting form{
    margin: 20px 0;
}
#nav-setting form>div{
    margin-bottom: 20px;
}
#nav-setting .inputbox{
    padding: 0 5px;
}
/*單選*/
#nav-setting .form-check-input:checked {
    background-color: crimson;
    border-color: crimson;
}
#nav-setting .form-check .form-check-input {
    margin-left: -.5em;
}
#nav-setting .form-check{
    padding:0 10px 10px 10px;
}
#nav-setting .form-check-label{
    padding: 5px 0 0 10px;
}
#nav-setting .d-flex .form-check{
    margin-right: 20px;
}
#nav-setting input[type="radio"]{
    font-size: 20px;
    
}
#nav-setting label,
#nav-setting fieldset>legend{
    font-size: 12px;
    font-weight: 700;
}
#nav-setting .btn{
    width: 100%;
    background-color: crimson;
    color: white;
}

/*購買紀錄*/
#nav-purchase p{
    margin: 20px 0;
    font-size: 14px;
}
#nav-purchase p>a{
    font-style: italic;
}
#nav-purchase .orderby-box{
    display: flex;
    flex-direction: column;
}
#nav-purchase .form-select{
    width: 200PX;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
    margin:  0 5px;
}
#nav-purchase .row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
#nav-purchase .row>*{
    flex-shrink:unset;
    padding-right:5px;
    padding-left:5px;
}
#nav-purchase table tr:nth-child(2){
    border-top: 5px solid crimson;
}
#nav-purchase table tr{
    font-size: 14px;
}
#nav-purchase table a{
    color: crimson;
    font-weight: 700;
}
#nav-purchase table tr:not(:first-child){
        border-bottom: 1px solid #CCC;
    }
#nav-purchase table tr:first-child{
        display: none;
}
#nav-purchase table tr .orderID::before{
        content: "訂單號碼 ";
}
/* 手機 */
@media screen and (max-width:568px) {

    #nav-purchase table tr{
        display: flex;
        flex-direction: column;
    }
    
    #nav-purchase table tr td{
        padding: 10px 5px;
    }
    
}

/* 平板 */
@media screen and (min-width:569px) {
    .box-width {
        width: 790px;
    }
    .tab-content{
        padding: 30px;
    }
    #nav-setting form>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #nav-setting form>div>div:first-child{
        margin-right: 20px;
    }
    #nav-setting .btn-box{
        display: flex;
        justify-content: flex-end;
    }
    #nav-setting .btn{
        width: auto;
        padding: 8px 30px;
    }
    #nav-purchase td{
        margin: 10px 0;
    }
    #nav-purchase .orderby-box {
        align-items: center;
        flex-direction: row;
    }
    #nav-purchase .record-body>div{
        display: flex;
    }
    #nav-purchase .orderTitle {
        flex: auto;
        width: 100%;
    }
    
    #nav-purchase .orderPrice,
    #nav-purchase .orderCategory,
    #nav-purchase .orderDateTime,
    #nav-purchase .orderID{
        flex: auto;
        width: 25%;
    }
}

/* 桌機 */
@media screen and (min-width:881px) {
    .box-width {
        width: 900px;
    }
    .tab-content{
        padding: 30px 40px;
    }
    #nav-purchase table tr{
        margin: 10px 0;
        flex-wrap: nowrap;

    }
    #nav-purchase table tr:first-child{
        display: table;
    }
    #nav-purchase table tr .orderID::before{
        content: "";
    }

    #nav-purchase .orderTitle,
    #nav-purchase tr>:first-child {
        width: 50%;
    }
    #nav-purchase .orderPrice,
    #nav-purchase .orderCategory{
        width: 10%;
    }
    #nav-purchase .orderDateTime,
    #nav-purchase .orderID{
        width: 15%;
    } 
}