* {
    /*重置設定*/
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: ghostwhite;
    font-family: "微軟正黑體";
    margin: 0 30px;
}

h1 {
    color: cornflowerblue;
    font-size: 40px;
    padding: 10px;
}

h2 {
    color: midnightblue;
    padding: 10px;
}

p {
    color: dimgray;
    font-size: 18px;
    line-height: 25px;
    margin: 10px;
    /*物件間的距離*/
}

div {
    border: 2px dashed lightsteelblue;
    /*border邊框線 dashed為虛線*/
    padding: 20px;
    background-color: aliceblue;
    margin: 10px 0;
    /*物件間的距離*/
}

a {
    text-decoration: none;
    color: deeppink;
}

ul {
    padding: 0 30px;
    color: dimgray;
}