body {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

nav {
    background-color: cornflowerblue;
    text-align: center;
    /*text-align 文字對齊方式*/
    font-size: 20px;
    font-family: "微軟正黑體";
    /*font-family 文字字體*/
    position: fixed;
    /*position 指定一個元素在文檔中的定位方式; fixed 絕對定位*/
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    /*z-index 對已經定位的區塊設定層級(數字越大越上面)*/
    height: 63px;
}

nav ul {
    padding: 10px;
    /*padding 內部距離*/
    color: linen;
    list-style: none;
    /*list-style 設定list樣式; none 移除*/
}

nav ul li {
    display: inline-block;
    /*inline 水平排列 block 區塊(可設定長寬)*/
    padding: 15px 15px 12px;
    margin: 0 5px;
    /*margin 物件間的距離*/
    transition: 0.8s;
    /*transition 類似於動畫效果*/
}

nav ul li:hover {
    /*hover 滑鼠停在上面的顯示效果*/
    background-color: deepskyblue;
    transition: 0.8s;
}

nav ul li:hover>ul {
    display: block;
    position: absolute;
    /*absolute 定位在所處上層容器的絕對位置*/
}

nav ul li a {
    color: linen;
    text-decoration: none;
    /*text-decoration 文字裝飾; none 移除(原本有底線)*/
}

nav ul li ul {
    display: none;
    /*none 不被顯示*/
}

nav ul li ul li {
    display: block;
    width: 100px;
    background-color: deepskyblue;
}

nav ul li ul li:hover {
    background-color: royalblue;
}