.top-box {
    background-image: url("https://picsum.photos/id/684/2400/2400");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 8px 0;
}

.vh {
    height: 100vh;
}

.px {
    padding: 0 200px;
}

.mx {
    margin: 0 200px;
}

.order {
    order: 1;
}

.pic-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.head-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 0;
    margin: 48px 200px;
}

.middle-box {
    display: flex;
    position: relative;
    text-align: center;
}

.footer {
    border-top: 5px solid gray;
}

.collapse {
    display: block;
}

.collapse:not(.show) {
    display: block;
}

button.navbar-toggler {
    position: absolute;
    display: none!important;
    top: 10px!important;
    right: 10px!important;
    border-radius: 5px;
}

@media screen and (max-width:1365px) {
    .vh {
        height: 75vh;
    }
    .px {
        padding: 0 100px;
    }
    .mx {
        margin: 0 100px;
    }
    .head-button {
        flex-direction: column;
    }
    .head-button button {
        margin: 10px 0;
    }
}

@media screen and (max-width:1023px) {
    header>div {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav a.px-3 {
        padding: 10px !important;
        margin: 0;
    }
    .vh {
        height: 50vh;
    }
    .px {
        padding: 0 50px;
    }
    .mx {
        margin: 0 50px;
    }
    .head-button {
        padding: 10px;
    }
    .head-button button {
        margin: 5px 0;
    }
    .order {
        order: 0;
    }
}

@media screen and (max-width:767px) {
    .collapse:not(.show) {
        display: none;
    }
    button.navbar-toggler {
        display: block!important;
    }
    header>div {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    /* #menuclick:checked nav {
        display: flex;
        transition: .5s;
    } */
    .navbar-nav a.px-3 {
        padding: 10px !important;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .vh {
        height: auto;
    }
    .px {
        padding: 0 10px;
    }
    .mx {
        margin: 0 10px;
    }
    .head-button {
        padding: 10px;
    }
    .head-button button {
        margin: 5px 0;
    }
    .order {
        order: 0;
    }
}


/* 自訂 */

.w-1200px {
    width: 1200px;
    margin: auto;
}

.fc-allcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.px-200px {
    padding: 0 200px;
}

.mx-200px {
    margin: 0 200px;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-80px {
    font-size: 80px;
}

.w-40px {
    width: 200px;
}

.h-250px {
    height: 250px;
}

.middle-box {
    background-color: rgba(4, 62, 110, 0.9);
}

.idea::before {
    content: "/*";
}

.idea::after {
    content: "*/";
}

.ul-disc {
    list-style: disc;
}