.top-box {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 8px 0;
    position: relative;
}

.pic-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.head-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 0;
    margin: 48px 200px;
}

.middle-box {
    display: flex;
    position: relative;
    text-align: center;
}

.footer {
    border-top: 5px solid gray;
}


/* 自訂 */

.fc-allcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.px-200px {
    padding: 0 200px;
}

.mx-200px {
    margin: 0 200px;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-80px {
    font-size: 80px;
}

.w-40px {
    width: 200px;
}

.h-250px {
    height: 250px;
}

.middle-box {
    background-color: rgba(4, 62, 110, 0.9);
}

.idea::before {
    content: "/*";
}

.idea::after {
    content: "*/";
}

.ul-disc {
    list-style: disc;
}