<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <!-- <div id="my-app">
        <h1 v-if="isVisiable == true">Title</h1>
        <img v-else src="https://picsum.photos/id/684/600/400">
        <h1 v-show="isVisiable == true">Title2</h1>
        <ul>
            <li v-for="(item,index) in myArr">{{item}}-{{index}}</li>
        </ul>
        <input v-model="input" type="text">
        <input v-model="AAA" type="text">
    </div>

    <div id="my-app2">
        <button v-on:click="sayHello" type="button" class="btn btn-info">Click Me</button>
        <button @click="sayHello" type="button" class="btn btn-info">Click Me</button>
        <input v-model="name" type="text">
        <input v-model="obj.A" type="text">
        <input v-model="obj.B" type="text">
        <h1>{{fullName}}</h1>
        <h1>{{objectDisplay}}</h1>
    </div> -->

    <div id="my-app3">
        <ul>
            <li v-for="item in myCart">
                品名:{{item.productName}},
                單價: {{item.price}},
                數量:
                <input v-model=" item.amount" type="number">

            </li>
        </ul>
        <h3>total:{{total}}</h3>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        -->
    <script>
        // var myApp = new Vue({
        //     el: '#my-app',
        //     data: {
        //         isVisiable: false,
        //         myArr: [
        //             'Apple', 'Banana', 'Clean'
        //         ],
        //         input: '',
        //         AAA: ''
        //     }
        // });
        // var myApp2 = new Vue({
        //     el: '#my-app2',
        //     data: {
        //         firstName: "lin",
        //         name: '15',
        //         obj: {
        //             A: "a",
        //             B: "b"
        //         }
        //     },
        //     methods: {
        //         sayHello() {
        //             alert(`HIIIIIIIIII${this.name}`);
        //         }
        //     },
        //     watch: {
        //         name: function () {
        //             console.log(`有人改變name=${this.name}`);
        //         },
        //         'obj.A': function () {
        //             console.log(`有人改變name=${this.obj.A}`);
        //         },
        //         objectDisplay: function () {
        //             console.log("change");
        //         }
        //     },
        //     computed: {
        //         fullName: function () {
        //             return `${this.firstName} ${this.name}`;
        //         },
        //         objectDisplay: function () {
        //             return `${this.obj.A} & ${this.obj.B}`;
        //         }
        //     }

        // });
        // let h1 = document.getElementsByTagName("h1")[0];
        // h1.innerText = "new Title";
        var myApp3 = new Vue({
            el: '#my-app3',
            data: {
                myCart: [
                    { productName: '牛奶', price: 50, amount: 3 },
                    { productName: '奶茶', price: 30, amount: 8 },
                    { productName: '麥茶', price: 10, amount: 5 },
                    { productName: '紅茶', price: 20, amount: 1 }
                ]
            },
            methods: {
            },
            watch: {
            },
            computed: {
                total: function () {
                    let result = this.myCart.map(x => x.price * x.amount).reduce((x, y) => { return x + y });



                    return result;
                }
            }

        });
                // let h1 = document.getElementsByTagName("h1")[0];
                // h1.innerText = "new Title";
    </script>
</body>

</html>